<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwExceptions="false"
	  internalLogLevel="Error"
	  internalLogFile="internalLogFile.txt">

	<variable name="applicationDir" value="BackendApi" />
	<variable name="systemName" value="Backend" />
	<variable name="logPathRoot" value="C:\Temp" />
	<targets>

		<target xsi:type="File"
					name="file"
					createDirs="true"
					archiveEvery="Day"
					archiveNumbering="DateAndSequence"
					archiveAboveSize="5000000"
					archiveDateFormat="yyyy-MM-dd"
					maxArchiveDays="30"
					maxArchiveFiles="30"
					layout="${longdate}|${level:uppercase=true}|${activityid}|${aspnet-user-identity}|${logger}|${message}"
					fileName="${logPathRoot}\${systemName}\${applicationDir}\Log\NLog\backend-api.txt"
					archiveFileName="${logPathRoot}\${systemName}\${applicationDir}\Log\NLog\archive\backend-api_{#}.txt" />

		<target xsi:type="ColoredConsole" name="console" useDefaultRowHighlightingRules="true" layout="${longdate}|${level:uppercase=true}|${aspnet-user-identity}|${logger}|${message}" />

	</targets>

	<rules>
		<logger name="Microsoft.Hosting.*" minlevel="Info" writeTo="console,file" final="true" />
		<logger name="*.*" minlevel="Info" writeTo="console,file" final="true" />
	</rules>
</nlog>